body{
background-color: rgb(0, 217, 255);
}

#banner {
  width: 100%; 
 
}

.principal{
    
    padding: 30px;

}

.titulo-principal{

    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center
}

#missao {
    font-size: 20px
}

p {
    text-align: center
    
}

em strong{
    color:#FF0000}

.itens{
    font-style: italic;
}

.Sitios-de-Interese{
    background-color:#FFFFFF ;
    padding: 20px;
}


ul{

display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;

}

.imagemSitiosDeInteresse{
    width: 50%;
}

